name: Build Image

on:
  push:
    tags:
      - '*'

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: docker build -t ghcr.io/knerio/github-sync-file-action:latest .
      - run: echo ${{ secrets.GITHUB_TOKEN }} | docker login -u $ --password-stdin ghcr.io
        name: Login to registry
      - run: docker push ghcr.io/knerio/github-sync-file-action:latest